.profileHolder {
    display: flex;
    height: min-content;
    justify-content: end;
}

.abstractBackground {
    height: 12rem;
    width: 28rem;
}

.nameTitle {
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 1;
    text-align: right;
}

.aboutMeLink {
    padding-left: 8rem;
}

.projectContainer {
    text-align: center;
}